In [34]:
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import StandardScaler
import category_encoders as ce
import json

# df = pd.read_csv("../data/ebb_set1.csv")
# Combine datasets
df_ebb1 = pd.read_csv("../data/ebb_set1.csv")
df_ebb2 = pd.read_csv("../data/ebb_set2.csv")
df = pd.concat([df_ebb1, df_ebb2], ignore_index=True)

df_eval = pd.read_csv("../data/eval_set.csv")

# fill in label values
df['ebb_eligible'].fillna(0, inplace=True)
df2 = df.copy()

display(df)
display(df_eval)

,customer_id,last_redemption_date,first_activation_date,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,opt_out_loyalty_sms,opt_out_mobiles_ads,opt_out_phone,state,total_revenues_bucket,marketing_comms_1,marketing_comms_2,ebb_eligible
0,e3da0f9e3076cdf64decd7cb79dc174a51f874a3,2021-09-26,2021-02-04,8,265,5,2017,TCL Communication Ltd,Android,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,1.0
1,169287d33c0df61d56b44a276b6357f8d378e35a,2021-12-30,2021-07-02,6,205,1,2019,TCL Communication Ltd,Android,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,1.0
2,db830e033aeaf092be7a8ded20e9d1da2aca2ad8,2022-03-28,2019-02-18,36,970,6,2020,ALCATEL,ANDROID,NaN,NaN,NaN,NaN,-1.0,NaN,TN,3,NaN,NaN,1.0
3,ad8f9ba3561d82d87fb44abb36b1ee9f07787c9b,2022-03-20,2020-10-21,23,274,2,2017,Apple Inc,iOS,NaN,NaN,NaN,NaN,1.0,NaN,AL,1,NaN,NaN,1.0
4,a1717a5eef8f8a6df9c2aed7de4512af3a365261,2022-03-06,2019-06-18,34,1021,1,2017,Apple Inc,iOS,NaN,NaN,NaN,NaN,1.0,NaN,MS,2,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98384,2e57db0e5935c136bc3cae9c38296786be76d6bf,2022-03-13,2020-08-17,20,530,2,2017,Samsung Korea,Android,NaN,NaN,NaN,NaN,1.0,NaN,GA,1,NaN,NaN,0.0
98385,06d13349789d801e9f3ce3ee0e2609b022ee284b,2020-11-13,2020-09-14,3,91,1,2019,MOTOROLA INC,ANDROID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0
98386,7925d6b1d7537384420f8a4d99681dd2b07eec17,2020-10-03,2020-08-03,3,92,1,2019,MOTOROLA INC,ANDROID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.0
98387,0bf314e1ddbd9a9da267cb9cef80491e5a309d66,2022-03-11,2021-05-31,8,305,1,2020,LG INC,ANDROID,NaN,NaN,NaN,NaN,1.0,NaN,WV,0,NaN,NaN,0.0
98388,56ae90260d57e4ca1b8a1f87e8a77e1daecc0b76,2022-03-29,2017-06-25,50,1752,1,2017,ZTE,ANDROID,NaN,NaN,NaN,NaN,1.0,NaN,TN,4,NaN,NaN,0.0

,customer_id,last_redemption_date,first_activation_date,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,opt_out_loyalty_sms,opt_out_mobiles_ads,opt_out_phone,state,total_revenues_bucket,marketing_comms_1,marketing_comms_2
0,57cc2777bf5fedbcbfa448c7d8be1f1ef49e27c9,2022-03-26,2018-11-12,42,1074,3,2021,SAMSUNG INC,ANDROID,NaN,NaN,NaN,NaN,1.0,NaN,NM,3,NaN,NaN
1,c5ba520345d97c7e20a6fdb34abd8035f55b2678,2022-03-26,2019-12-09,20,821,6,2021,SAMSUNG INC,ANDROID,NaN,NaN,NaN,NaN,1.0,NaN,FL,1,NaN,NaN
2,afddd53f1872bd308feb00644360485a928dd01d,2022-03-30,2017-12-31,49,1322,2,2021,SAMSUNG INC,ANDROID,NaN,NaN,NaN,NaN,-1.0,1.0,FL,4,NaN,NaN
3,33462772a13a29c6b982e548e042a8e6cb71f1b2,2022-04-01,2018-03-21,49,1386,3,2021,SAMSUNG INC,ANDROID,NaN,NaN,NaN,NaN,NaN,1.0,OH,4,NaN,NaN
4,79205a180d78be8da9bd31efcb03a3a8be023cde,2022-03-17,2017-05-20,15,1753,3,2021,SAMSUNG INC,ANDROID,NaN,NaN,NaN,NaN,1.0,1.0,FL,4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19844,ff8f05a02690686c9fa825cf4436e51c746f3a0a,2022-01-29,2018-09-28,14,695,3,2020,APPLE,IOS,NaN,NaN,NaN,NaN,NaN,NaN,FL,3,NaN,NaN
19845,03b28952bc80bf106bf00d0766c3c9c94bc6abf1,2022-03-26,2018-07-24,45,1035,2,2020,APPLE,IOS,EN,NaN,NaN,NaN,NaN,NaN,FL,4,NaN,NaN
19846,cc8fff8e9b9bfac981ee5a125f7f6c573da74b05,2022-02-28,2021-02-19,17,404,1,2020,APPLE,IOS,NaN,NaN,NaN,NaN,NaN,NaN,FL,1,NaN,NaN
19847,5325c3837fbade3492fd5733326ae7566f36fa01,2022-04-07,2020-12-14,17,311,3,2020,APPLE,IOS,NaN,NaN,NaN,NaN,1.0,NaN,FL,1,NaN,NaN
19848,924b85eff809f608103f555c44e1afacec9e1641,2022-04-06,2016-07-17,26,1750,11,2017,SAMSUNG INC,ANDROID,NaN,NaN,NaN,NaN,NaN,NaN,FL,1,NaN,NaN

In [2]:
# df.manufacturer.value_counts()
# df2.manufacturer.isnull().sum()
print(df.isnull().sum())
print('======================================')
print(df_eval.isnull().sum())

customer_id                  0
last_redemption_date         0
first_activation_date        0
total_redemptions            0
tenure                       0
number_upgrades              0
year                         0
manufacturer               818
operating_system           818
language_preference      88995
opt_out_email            92770
opt_out_loyalty_email    98230
opt_out_loyalty_sms      98216
opt_out_mobiles_ads      49312
opt_out_phone            89816
state                    23987
total_revenues_bucket        0
marketing_comms_1        94562
marketing_comms_2        94572
ebb_eligible                 0
dtype: int64
======================================
customer_id                  0
last_redemption_date         0
first_activation_date        0
total_redemptions            0
tenure                       0
number_upgrades              0
year                         0
manufacturer                24
operating_system            24
language_preference      18284
opt_out_email            18084
opt_out_loyalty_email    19788
opt_out_loyalty_sms      19802
opt_out_mobiles_ads      10834
opt_out_phone            16892
state                      733
total_revenues_bucket        0
marketing_comms_1        18852
marketing_comms_2        18852
dtype: int64

# Process categorical data for Manufacturer, State, OS, language and opt_out_sms
### Replace null values with string 'NONE'

In [3]:
def standardiseFormat(df, col):
    out = df.copy()
    # print(out[col].isnull().sum())
    out[col] = out[col].fillna('<NO_ENTRY>')
    out[col] = out[col].apply(lambda x: str(x).lower())
    # print(out[col].isnull().sum())
    return out

In [4]:
cols = ['manufacturer', 'state', 'operating_system', 'language_preference']

df2 = standardiseFormat(df2, 'manufacturer')
df2 = standardiseFormat(df2, 'state')
df2 = standardiseFormat(df2, 'operating_system')
df2 = standardiseFormat(df2, 'language_preference')

display(df2)

,customer_id,last_redemption_date,first_activation_date,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,opt_out_loyalty_sms,opt_out_mobiles_ads,opt_out_phone,state,total_revenues_bucket,marketing_comms_1,marketing_comms_2,ebb_eligible
0,e3da0f9e3076cdf64decd7cb79dc174a51f874a3,2021-09-26,2021-02-04,8,265,5,2017,tcl communication ltd,android,<no_entry>,NaN,NaN,NaN,NaN,NaN,<no_entry>,0,NaN,NaN,1.0
1,169287d33c0df61d56b44a276b6357f8d378e35a,2021-12-30,2021-07-02,6,205,1,2019,tcl communication ltd,android,<no_entry>,NaN,NaN,NaN,NaN,NaN,<no_entry>,0,NaN,NaN,1.0
2,db830e033aeaf092be7a8ded20e9d1da2aca2ad8,2022-03-28,2019-02-18,36,970,6,2020,alcatel,android,<no_entry>,NaN,NaN,NaN,-1.0,NaN,tn,3,NaN,NaN,1.0
3,ad8f9ba3561d82d87fb44abb36b1ee9f07787c9b,2022-03-20,2020-10-21,23,274,2,2017,apple inc,ios,<no_entry>,NaN,NaN,NaN,1.0,NaN,al,1,NaN,NaN,1.0
4,a1717a5eef8f8a6df9c2aed7de4512af3a365261,2022-03-06,2019-06-18,34,1021,1,2017,apple inc,ios,<no_entry>,NaN,NaN,NaN,1.0,NaN,ms,2,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98384,2e57db0e5935c136bc3cae9c38296786be76d6bf,2022-03-13,2020-08-17,20,530,2,2017,samsung korea,android,<no_entry>,NaN,NaN,NaN,1.0,NaN,ga,1,NaN,NaN,0.0
98385,06d13349789d801e9f3ce3ee0e2609b022ee284b,2020-11-13,2020-09-14,3,91,1,2019,motorola inc,android,<no_entry>,NaN,NaN,NaN,NaN,NaN,<no_entry>,0,NaN,NaN,0.0
98386,7925d6b1d7537384420f8a4d99681dd2b07eec17,2020-10-03,2020-08-03,3,92,1,2019,motorola inc,android,<no_entry>,NaN,NaN,NaN,NaN,NaN,<no_entry>,0,NaN,NaN,0.0
98387,0bf314e1ddbd9a9da267cb9cef80491e5a309d66,2022-03-11,2021-05-31,8,305,1,2020,lg inc,android,<no_entry>,NaN,NaN,NaN,1.0,NaN,wv,0,NaN,NaN,0.0
98388,56ae90260d57e4ca1b8a1f87e8a77e1daecc0b76,2022-03-29,2017-06-25,50,1752,1,2017,zte,android,<no_entry>,NaN,NaN,NaN,1.0,NaN,tn,4,NaN,NaN,0.0

In [5]:
# Check that values are correct
print(df[df2['manufacturer'] == '<no_entry>'].shape)
print(df[df2['state'] == '<no_entry>'].shape)
print(df[df2['operating_system'] == '<no_entry>'].shape)
print(df[df2['language_preference'] == '<no_entry>'].shape)

(818, 20)
(23987, 20)
(818, 20)
(88995, 20)

# Store the categories in a dictionary
### this is for mapping categorical data in the eval set to numerical values.

In [6]:
cat_m = dict.fromkeys(df2['manufacturer'].unique())
cat_s = dict.fromkeys(df2['state'].unique())
cat_os = dict.fromkeys(df2['operating_system'].unique())
cat_l = dict.fromkeys(df2['language_preference'].unique())

# print(cat_m.keys())
# print('-------------------')
# print(cat_s.keys())
# print('-------------------')
# print(cat_os.keys())
# print('-------------------')
# print(cat_l.keys())

# Use Target Encoding to encode categorical data, and merge new columns to dataframe

In [7]:
def TargetEncoding(df, col):
    m_encoder = ce.TargetEncoder()
    out = m_encoder.fit_transform(df[col], df['ebb_eligible'])
    new_col = col + '_enc'
    out.columns = [new_col]
    return out

In [8]:
df2_m = TargetEncoding(df2, 'manufacturer')
df2_s = TargetEncoding(df2, 'state')
df2_os = TargetEncoding(df2, 'operating_system')
df2_l = TargetEncoding(df2, 'language_preference')

# Now add to dataframe
df2 = pd.concat([df2, df2_m], axis=1)
df2 = pd.concat([df2, df2_s], axis=1)
df2 = pd.concat([df2, df2_os], axis=1)
df2 = pd.concat([df2, df2_l], axis=1)
display(df2)

,customer_id,last_redemption_date,first_activation_date,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,...,opt_out_phone,state,total_revenues_bucket,marketing_comms_1,marketing_comms_2,ebb_eligible,manufacturer_enc,state_enc,operating_system_enc,language_preference_enc
0,e3da0f9e3076cdf64decd7cb79dc174a51f874a3,2021-09-26,2021-02-04,8,265,5,2017,tcl communication ltd,android,<no_entry>,...,NaN,<no_entry>,0,NaN,NaN,1.0,0.622449,0.113145,0.481526,0.482252
1,169287d33c0df61d56b44a276b6357f8d378e35a,2021-12-30,2021-07-02,6,205,1,2019,tcl communication ltd,android,<no_entry>,...,NaN,<no_entry>,0,NaN,NaN,1.0,0.622449,0.113145,0.481526,0.482252
2,db830e033aeaf092be7a8ded20e9d1da2aca2ad8,2022-03-28,2019-02-18,36,970,6,2020,alcatel,android,<no_entry>,...,NaN,tn,3,NaN,NaN,1.0,0.516789,0.608548,0.481526,0.482252
3,ad8f9ba3561d82d87fb44abb36b1ee9f07787c9b,2022-03-20,2020-10-21,23,274,2,2017,apple inc,ios,<no_entry>,...,NaN,al,1,NaN,NaN,1.0,0.635217,0.677431,0.577849,0.482252
4,a1717a5eef8f8a6df9c2aed7de4512af3a365261,2022-03-06,2019-06-18,34,1021,1,2017,apple inc,ios,<no_entry>,...,NaN,ms,2,NaN,NaN,1.0,0.635217,0.770092,0.577849,0.482252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98384,2e57db0e5935c136bc3cae9c38296786be76d6bf,2022-03-13,2020-08-17,20,530,2,2017,samsung korea,android,<no_entry>,...,NaN,ga,1,NaN,NaN,0.0,0.566241,0.742720,0.481526,0.482252
98385,06d13349789d801e9f3ce3ee0e2609b022ee284b,2020-11-13,2020-09-14,3,91,1,2019,motorola inc,android,<no_entry>,...,NaN,<no_entry>,0,NaN,NaN,0.0,0.544532,0.113145,0.481526,0.482252
98386,7925d6b1d7537384420f8a4d99681dd2b07eec17,2020-10-03,2020-08-03,3,92,1,2019,motorola inc,android,<no_entry>,...,NaN,<no_entry>,0,NaN,NaN,0.0,0.544532,0.113145,0.481526,0.482252
98387,0bf314e1ddbd9a9da267cb9cef80491e5a309d66,2022-03-11,2021-05-31,8,305,1,2020,lg inc,android,<no_entry>,...,NaN,wv,0,NaN,NaN,0.0,0.379430,0.651306,0.481526,0.482252
98388,56ae90260d57e4ca1b8a1f87e8a77e1daecc0b76,2022-03-29,2017-06-25,50,1752,1,2017,zte,android,<no_entry>,...,NaN,tn,4,NaN,NaN,0.0,0.122503,0.608548,0.481526,0.482252

# Map the encoded value for each unique category in the dictionary
#### *  Requires the dataframe to contain the encoded column

In [9]:
# map the encoded values to the dictionary of unique keys
# Requires the dataframe to already contain the encoded column
def fillCatValues(df, col, cat_dict):
    col_enc = col + '_enc'
    for index, row in df.iterrows():
        key = row[col]
        if key in cat_dict and cat_dict[key] is None:
            cat_dict[key] = row[col_enc]

In [10]:
# fill dict values
fillCatValues(df2, 'manufacturer', cat_m)
fillCatValues(df2, 'state', cat_s)
fillCatValues(df2, 'operating_system', cat_os)
fillCatValues(df2, 'language_preference', cat_l)

In [11]:
# c = cat_l
# for key in c.keys():
#     print(f"key: {key}")
#     print(f"--value: {c[key]}")

In [12]:
# Create corresponding columns in eval set
eval2 = df_eval.copy()
eval2 = standardiseFormat(eval2, 'manufacturer')
eval2 = standardiseFormat(eval2, 'state')
eval2 = standardiseFormat(eval2, 'operating_system')
eval2 = standardiseFormat(eval2, 'language_preference')

In [13]:
# display(eval2)

In [14]:
# Map dict values to eval set
def mapTargetEncToEval(df, col, cat_dict):
    out = df.copy()
    new_col = col + '_enc'
    out[new_col] = df[col].map(cat_dict)
    return out

In [15]:
eval2 = mapTargetEncToEval(eval2, 'manufacturer', cat_m)
eval2 = mapTargetEncToEval(eval2, 'state', cat_s)
eval2 = mapTargetEncToEval(eval2, 'operating_system', cat_os)
eval2 = mapTargetEncToEval(eval2, 'language_preference', cat_l)

In [16]:
# display(eval2)
# display(df2)

### Drop columns which might not be useful for now

In [17]:
dropping = ['marketing_comms_1', 'marketing_comms_2']

df2 = df2.drop(columns=dropping)
eval2 = eval2.drop(columns=dropping)

display(df2)
display(eval2)

,customer_id,last_redemption_date,first_activation_date,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,...,opt_out_loyalty_sms,opt_out_mobiles_ads,opt_out_phone,state,total_revenues_bucket,ebb_eligible,manufacturer_enc,state_enc,operating_system_enc,language_preference_enc
0,e3da0f9e3076cdf64decd7cb79dc174a51f874a3,2021-09-26,2021-02-04,8,265,5,2017,tcl communication ltd,android,<no_entry>,...,NaN,NaN,NaN,<no_entry>,0,1.0,0.622449,0.113145,0.481526,0.482252
1,169287d33c0df61d56b44a276b6357f8d378e35a,2021-12-30,2021-07-02,6,205,1,2019,tcl communication ltd,android,<no_entry>,...,NaN,NaN,NaN,<no_entry>,0,1.0,0.622449,0.113145,0.481526,0.482252
2,db830e033aeaf092be7a8ded20e9d1da2aca2ad8,2022-03-28,2019-02-18,36,970,6,2020,alcatel,android,<no_entry>,...,NaN,-1.0,NaN,tn,3,1.0,0.516789,0.608548,0.481526,0.482252
3,ad8f9ba3561d82d87fb44abb36b1ee9f07787c9b,2022-03-20,2020-10-21,23,274,2,2017,apple inc,ios,<no_entry>,...,NaN,1.0,NaN,al,1,1.0,0.635217,0.677431,0.577849,0.482252
4,a1717a5eef8f8a6df9c2aed7de4512af3a365261,2022-03-06,2019-06-18,34,1021,1,2017,apple inc,ios,<no_entry>,...,NaN,1.0,NaN,ms,2,1.0,0.635217,0.770092,0.577849,0.482252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98384,2e57db0e5935c136bc3cae9c38296786be76d6bf,2022-03-13,2020-08-17,20,530,2,2017,samsung korea,android,<no_entry>,...,NaN,1.0,NaN,ga,1,0.0,0.566241,0.742720,0.481526,0.482252
98385,06d13349789d801e9f3ce3ee0e2609b022ee284b,2020-11-13,2020-09-14,3,91,1,2019,motorola inc,android,<no_entry>,...,NaN,NaN,NaN,<no_entry>,0,0.0,0.544532,0.113145,0.481526,0.482252
98386,7925d6b1d7537384420f8a4d99681dd2b07eec17,2020-10-03,2020-08-03,3,92,1,2019,motorola inc,android,<no_entry>,...,NaN,NaN,NaN,<no_entry>,0,0.0,0.544532,0.113145,0.481526,0.482252
98387,0bf314e1ddbd9a9da267cb9cef80491e5a309d66,2022-03-11,2021-05-31,8,305,1,2020,lg inc,android,<no_entry>,...,NaN,1.0,NaN,wv,0,0.0,0.379430,0.651306,0.481526,0.482252
98388,56ae90260d57e4ca1b8a1f87e8a77e1daecc0b76,2022-03-29,2017-06-25,50,1752,1,2017,zte,android,<no_entry>,...,NaN,1.0,NaN,tn,4,0.0,0.122503,0.608548,0.481526,0.482252

,customer_id,last_redemption_date,first_activation_date,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,...,opt_out_loyalty_email,opt_out_loyalty_sms,opt_out_mobiles_ads,opt_out_phone,state,total_revenues_bucket,manufacturer_enc,state_enc,operating_system_enc,language_preference_enc
0,57cc2777bf5fedbcbfa448c7d8be1f1ef49e27c9,2022-03-26,2018-11-12,42,1074,3,2021,samsung inc,android,<no_entry>,...,NaN,NaN,1.0,NaN,nm,3,0.476237,0.556787,0.481526,0.482252
1,c5ba520345d97c7e20a6fdb34abd8035f55b2678,2022-03-26,2019-12-09,20,821,6,2021,samsung inc,android,<no_entry>,...,NaN,NaN,1.0,NaN,fl,1,0.476237,0.623148,0.481526,0.482252
2,afddd53f1872bd308feb00644360485a928dd01d,2022-03-30,2017-12-31,49,1322,2,2021,samsung inc,android,<no_entry>,...,NaN,NaN,-1.0,1.0,fl,4,0.476237,0.623148,0.481526,0.482252
3,33462772a13a29c6b982e548e042a8e6cb71f1b2,2022-04-01,2018-03-21,49,1386,3,2021,samsung inc,android,<no_entry>,...,NaN,NaN,NaN,1.0,oh,4,0.476237,0.610831,0.481526,0.482252
4,79205a180d78be8da9bd31efcb03a3a8be023cde,2022-03-17,2017-05-20,15,1753,3,2021,samsung inc,android,<no_entry>,...,NaN,NaN,1.0,1.0,fl,4,0.476237,0.623148,0.481526,0.482252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19844,ff8f05a02690686c9fa825cf4436e51c746f3a0a,2022-01-29,2018-09-28,14,695,3,2020,apple,ios,<no_entry>,...,NaN,NaN,NaN,NaN,fl,3,0.542929,0.623148,0.577849,0.482252
19845,03b28952bc80bf106bf00d0766c3c9c94bc6abf1,2022-03-26,2018-07-24,45,1035,2,2020,apple,ios,en,...,NaN,NaN,NaN,NaN,fl,4,0.542929,0.623148,0.577849,0.684385
19846,cc8fff8e9b9bfac981ee5a125f7f6c573da74b05,2022-02-28,2021-02-19,17,404,1,2020,apple,ios,<no_entry>,...,NaN,NaN,NaN,NaN,fl,1,0.542929,0.623148,0.577849,0.482252
19847,5325c3837fbade3492fd5733326ae7566f36fa01,2022-04-07,2020-12-14,17,311,3,2020,apple,ios,<no_entry>,...,NaN,NaN,1.0,NaN,fl,1,0.542929,0.623148,0.577849,0.482252
19848,924b85eff809f608103f555c44e1afacec9e1641,2022-04-06,2016-07-17,26,1750,11,2017,samsung inc,android,<no_entry>,...,NaN,NaN,NaN,NaN,fl,1,0.476237,0.623148,0.481526,0.482252

### Process dates columns. Assumes that all dates are valid

In [18]:
'''
    Split dates into their respective year, month and day
    Creates 3 new columns for each date column (last_redemption_date and first_activation_date)
    Drops original column
'''
def processDates(df_in):
    df = df_in.copy()

    # Convert to datetime format
    df['last_redemption_date'] = pd.to_datetime(df['last_redemption_date'], format = '%Y-%m-%d', errors = 'coerce')
    # Break up year, month, day
    df['last_redemption_year'] = df['last_redemption_date'].dt.year
    df['last_redemption_month'] = df['last_redemption_date'].dt.month
    df['last_redemption_day'] = df['last_redemption_date'].dt.day
    # Drop original column
    df = df.drop(['last_redemption_date'],axis=1)

    # Convert to datetime format
    df['first_activation_date'] = pd.to_datetime(df['first_activation_date'], format = '%Y-%m-%d', errors = 'coerce')
    # Break up year, month, day
    df['first_activation_year'] = df['first_activation_date'].dt.year
    df['first_activation_month'] = df['first_activation_date'].dt.month
    df['first_activation_day'] = df['first_activation_date'].dt.day
    # Drop original column
    df = df.drop(['first_activation_date'],axis=1)
    
    return df
# print(df.columns)

In [19]:
df2 = processDates(df2)
eval2 = processDates(eval2)
display(df2)
display(eval2)

,customer_id,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,...,manufacturer_enc,state_enc,operating_system_enc,language_preference_enc,last_redemption_year,last_redemption_month,last_redemption_day,first_activation_year,first_activation_month,first_activation_day
0,e3da0f9e3076cdf64decd7cb79dc174a51f874a3,8,265,5,2017,tcl communication ltd,android,<no_entry>,NaN,NaN,...,0.622449,0.113145,0.481526,0.482252,2021,9,26,2021,2,4
1,169287d33c0df61d56b44a276b6357f8d378e35a,6,205,1,2019,tcl communication ltd,android,<no_entry>,NaN,NaN,...,0.622449,0.113145,0.481526,0.482252,2021,12,30,2021,7,2
2,db830e033aeaf092be7a8ded20e9d1da2aca2ad8,36,970,6,2020,alcatel,android,<no_entry>,NaN,NaN,...,0.516789,0.608548,0.481526,0.482252,2022,3,28,2019,2,18
3,ad8f9ba3561d82d87fb44abb36b1ee9f07787c9b,23,274,2,2017,apple inc,ios,<no_entry>,NaN,NaN,...,0.635217,0.677431,0.577849,0.482252,2022,3,20,2020,10,21
4,a1717a5eef8f8a6df9c2aed7de4512af3a365261,34,1021,1,2017,apple inc,ios,<no_entry>,NaN,NaN,...,0.635217,0.770092,0.577849,0.482252,2022,3,6,2019,6,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98384,2e57db0e5935c136bc3cae9c38296786be76d6bf,20,530,2,2017,samsung korea,android,<no_entry>,NaN,NaN,...,0.566241,0.742720,0.481526,0.482252,2022,3,13,2020,8,17
98385,06d13349789d801e9f3ce3ee0e2609b022ee284b,3,91,1,2019,motorola inc,android,<no_entry>,NaN,NaN,...,0.544532,0.113145,0.481526,0.482252,2020,11,13,2020,9,14
98386,7925d6b1d7537384420f8a4d99681dd2b07eec17,3,92,1,2019,motorola inc,android,<no_entry>,NaN,NaN,...,0.544532,0.113145,0.481526,0.482252,2020,10,3,2020,8,3
98387,0bf314e1ddbd9a9da267cb9cef80491e5a309d66,8,305,1,2020,lg inc,android,<no_entry>,NaN,NaN,...,0.379430,0.651306,0.481526,0.482252,2022,3,11,2021,5,31
98388,56ae90260d57e4ca1b8a1f87e8a77e1daecc0b76,50,1752,1,2017,zte,android,<no_entry>,NaN,NaN,...,0.122503,0.608548,0.481526,0.482252,2022,3,29,2017,6,25

,customer_id,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,...,manufacturer_enc,state_enc,operating_system_enc,language_preference_enc,last_redemption_year,last_redemption_month,last_redemption_day,first_activation_year,first_activation_month,first_activation_day
0,57cc2777bf5fedbcbfa448c7d8be1f1ef49e27c9,42,1074,3,2021,samsung inc,android,<no_entry>,NaN,NaN,...,0.476237,0.556787,0.481526,0.482252,2022,3,26,2018,11,12
1,c5ba520345d97c7e20a6fdb34abd8035f55b2678,20,821,6,2021,samsung inc,android,<no_entry>,NaN,NaN,...,0.476237,0.623148,0.481526,0.482252,2022,3,26,2019,12,9
2,afddd53f1872bd308feb00644360485a928dd01d,49,1322,2,2021,samsung inc,android,<no_entry>,NaN,NaN,...,0.476237,0.623148,0.481526,0.482252,2022,3,30,2017,12,31
3,33462772a13a29c6b982e548e042a8e6cb71f1b2,49,1386,3,2021,samsung inc,android,<no_entry>,NaN,NaN,...,0.476237,0.610831,0.481526,0.482252,2022,4,1,2018,3,21
4,79205a180d78be8da9bd31efcb03a3a8be023cde,15,1753,3,2021,samsung inc,android,<no_entry>,NaN,NaN,...,0.476237,0.623148,0.481526,0.482252,2022,3,17,2017,5,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19844,ff8f05a02690686c9fa825cf4436e51c746f3a0a,14,695,3,2020,apple,ios,<no_entry>,NaN,NaN,...,0.542929,0.623148,0.577849,0.482252,2022,1,29,2018,9,28
19845,03b28952bc80bf106bf00d0766c3c9c94bc6abf1,45,1035,2,2020,apple,ios,en,NaN,NaN,...,0.542929,0.623148,0.577849,0.684385,2022,3,26,2018,7,24
19846,cc8fff8e9b9bfac981ee5a125f7f6c573da74b05,17,404,1,2020,apple,ios,<no_entry>,NaN,NaN,...,0.542929,0.623148,0.577849,0.482252,2022,2,28,2021,2,19
19847,5325c3837fbade3492fd5733326ae7566f36fa01,17,311,3,2020,apple,ios,<no_entry>,NaN,NaN,...,0.542929,0.623148,0.577849,0.482252,2022,4,7,2020,12,14
19848,924b85eff809f608103f555c44e1afacec9e1641,26,1750,11,2017,samsung inc,android,<no_entry>,NaN,NaN,...,0.476237,0.623148,0.481526,0.482252,2022,4,6,2016,7,17

### Process Opt-out columns
{opt_out_email,  opt_out_loyalty_email, opt_out_loyalty_sms, opt_out_mobiles_ads, opt_out_phone}

opt_out_mobiles_ads contains two values, 1 and -1. \
Perform One-Hot Encoding on this column to extract -1 values into a new column

In [20]:
# create new column where df2['opt_out_mobiles_ads'] == -1
# replace -1 values in df2['opt_out_mobiles_ads'] with 0
def encodeOptMobileAds(df_in):
    df = df_in.copy()
    df['opt_out_mobile_ads_neg'] = np.where(df['opt_out_mobiles_ads'] == -1, 1, 0) 
    # display(df[['opt_out_mobiles_ads', 'opt_out_mobile_ads_neg']])
    df['opt_out_mobiles_ads'] = df['opt_out_mobiles_ads'].map({1: 1, -1: 0})
    # display(df[['opt_out_mobiles_ads', 'opt_out_mobile_ads_neg']])
    return df

In [21]:
def processOpt(df_in):
    df = df_in.copy()
    opt_out = ['opt_out_email', 'opt_out_loyalty_email', 'opt_out_loyalty_sms', 'opt_out_mobiles_ads', 'opt_out_phone']
    # fill NaN columns with 0
    for option in opt_out:
        df[option].fillna(0, inplace=True)
    return df

In [22]:
# for opt in ['opt_out_email', 'opt_out_loyalty_email', 'opt_out_loyalty_sms', 'opt_out_mobiles_ads', 'opt_out_phone']:
#     print(df_eval[opt].value_counts())

In [23]:
df2 = encodeOptMobileAds(df2)
eval2 = encodeOptMobileAds(eval2)
# display(df2[['opt_out_mobiles_ads', 'opt_out_mobile_ads_neg']])
# display(eval2[['opt_out_mobiles_ads', 'opt_out_mobile_ads_neg']])

In [24]:
# Convert all null values to 0
df2 = processOpt(df2)
eval2 = processOpt(eval2)

In [25]:
# for opt in ['opt_out_email', 'opt_out_loyalty_email', 'opt_out_loyalty_sms', 'opt_out_mobiles_ads', 'opt_out_phone', 'opt_out_mobile_ads_neg']:
#     print(df2[opt].value_counts())

In [26]:
display(df2)
display(eval2)

,customer_id,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,...,state_enc,operating_system_enc,language_preference_enc,last_redemption_year,last_redemption_month,last_redemption_day,first_activation_year,first_activation_month,first_activation_day,opt_out_mobile_ads_neg
0,e3da0f9e3076cdf64decd7cb79dc174a51f874a3,8,265,5,2017,tcl communication ltd,android,<no_entry>,0.0,0.0,...,0.113145,0.481526,0.482252,2021,9,26,2021,2,4,0
1,169287d33c0df61d56b44a276b6357f8d378e35a,6,205,1,2019,tcl communication ltd,android,<no_entry>,0.0,0.0,...,0.113145,0.481526,0.482252,2021,12,30,2021,7,2,0
2,db830e033aeaf092be7a8ded20e9d1da2aca2ad8,36,970,6,2020,alcatel,android,<no_entry>,0.0,0.0,...,0.608548,0.481526,0.482252,2022,3,28,2019,2,18,1
3,ad8f9ba3561d82d87fb44abb36b1ee9f07787c9b,23,274,2,2017,apple inc,ios,<no_entry>,0.0,0.0,...,0.677431,0.577849,0.482252,2022,3,20,2020,10,21,0
4,a1717a5eef8f8a6df9c2aed7de4512af3a365261,34,1021,1,2017,apple inc,ios,<no_entry>,0.0,0.0,...,0.770092,0.577849,0.482252,2022,3,6,2019,6,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98384,2e57db0e5935c136bc3cae9c38296786be76d6bf,20,530,2,2017,samsung korea,android,<no_entry>,0.0,0.0,...,0.742720,0.481526,0.482252,2022,3,13,2020,8,17,0
98385,06d13349789d801e9f3ce3ee0e2609b022ee284b,3,91,1,2019,motorola inc,android,<no_entry>,0.0,0.0,...,0.113145,0.481526,0.482252,2020,11,13,2020,9,14,0
98386,7925d6b1d7537384420f8a4d99681dd2b07eec17,3,92,1,2019,motorola inc,android,<no_entry>,0.0,0.0,...,0.113145,0.481526,0.482252,2020,10,3,2020,8,3,0
98387,0bf314e1ddbd9a9da267cb9cef80491e5a309d66,8,305,1,2020,lg inc,android,<no_entry>,0.0,0.0,...,0.651306,0.481526,0.482252,2022,3,11,2021,5,31,0
98388,56ae90260d57e4ca1b8a1f87e8a77e1daecc0b76,50,1752,1,2017,zte,android,<no_entry>,0.0,0.0,...,0.608548,0.481526,0.482252,2022,3,29,2017,6,25,0

,customer_id,total_redemptions,tenure,number_upgrades,year,manufacturer,operating_system,language_preference,opt_out_email,opt_out_loyalty_email,...,state_enc,operating_system_enc,language_preference_enc,last_redemption_year,last_redemption_month,last_redemption_day,first_activation_year,first_activation_month,first_activation_day,opt_out_mobile_ads_neg
0,57cc2777bf5fedbcbfa448c7d8be1f1ef49e27c9,42,1074,3,2021,samsung inc,android,<no_entry>,0.0,0.0,...,0.556787,0.481526,0.482252,2022,3,26,2018,11,12,0
1,c5ba520345d97c7e20a6fdb34abd8035f55b2678,20,821,6,2021,samsung inc,android,<no_entry>,0.0,0.0,...,0.623148,0.481526,0.482252,2022,3,26,2019,12,9,0
2,afddd53f1872bd308feb00644360485a928dd01d,49,1322,2,2021,samsung inc,android,<no_entry>,0.0,0.0,...,0.623148,0.481526,0.482252,2022,3,30,2017,12,31,1
3,33462772a13a29c6b982e548e042a8e6cb71f1b2,49,1386,3,2021,samsung inc,android,<no_entry>,0.0,0.0,...,0.610831,0.481526,0.482252,2022,4,1,2018,3,21,0
4,79205a180d78be8da9bd31efcb03a3a8be023cde,15,1753,3,2021,samsung inc,android,<no_entry>,0.0,0.0,...,0.623148,0.481526,0.482252,2022,3,17,2017,5,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19844,ff8f05a02690686c9fa825cf4436e51c746f3a0a,14,695,3,2020,apple,ios,<no_entry>,0.0,0.0,...,0.623148,0.577849,0.482252,2022,1,29,2018,9,28,0
19845,03b28952bc80bf106bf00d0766c3c9c94bc6abf1,45,1035,2,2020,apple,ios,en,0.0,0.0,...,0.623148,0.577849,0.684385,2022,3,26,2018,7,24,0
19846,cc8fff8e9b9bfac981ee5a125f7f6c573da74b05,17,404,1,2020,apple,ios,<no_entry>,0.0,0.0,...,0.623148,0.577849,0.482252,2022,2,28,2021,2,19,0
19847,5325c3837fbade3492fd5733326ae7566f36fa01,17,311,3,2020,apple,ios,<no_entry>,0.0,0.0,...,0.623148,0.577849,0.482252,2022,4,7,2020,12,14,0
19848,924b85eff809f608103f555c44e1afacec9e1641,26,1750,11,2017,samsung inc,android,<no_entry>,0.0,0.0,...,0.623148,0.481526,0.482252,2022,4,6,2016,7,17,0

# Drop original columns which have been used to process new columns

In [27]:
# dropping2 = ['customer_id', 'manufacturer', 'operating_system', 'language_preference', 'state']
# df2 = df2.drop(columns=dropping2)
# eval2 = eval2.drop(columns=dropping2)

# display(df2)
# display(eval2)

In [28]:
print(df2.columns)
print(eval2.columns)

Index(['customer_id', 'total_redemptions', 'tenure', 'number_upgrades', 'year',
       'manufacturer', 'operating_system', 'language_preference',
       'opt_out_email', 'opt_out_loyalty_email', 'opt_out_loyalty_sms',
       'opt_out_mobiles_ads', 'opt_out_phone', 'state',
       'total_revenues_bucket', 'ebb_eligible', 'manufacturer_enc',
       'state_enc', 'operating_system_enc', 'language_preference_enc',
       'last_redemption_year', 'last_redemption_month', 'last_redemption_day',
       'first_activation_year', 'first_activation_month',
       'first_activation_day', 'opt_out_mobile_ads_neg'],
      dtype='object')
Index(['customer_id', 'total_redemptions', 'tenure', 'number_upgrades', 'year',
       'manufacturer', 'operating_system', 'language_preference',
       'opt_out_email', 'opt_out_loyalty_email', 'opt_out_loyalty_sms',
       'opt_out_mobiles_ads', 'opt_out_phone', 'state',
       'total_revenues_bucket', 'manufacturer_enc', 'state_enc',
       'operating_system_enc', 'language_preference_enc',
       'last_redemption_year', 'last_redemption_month', 'last_redemption_day',
       'first_activation_year', 'first_activation_month',
       'first_activation_day', 'opt_out_mobile_ads_neg'],
      dtype='object')

# Export to csv file

In [29]:
df2.to_csv('js_plotsets.csv', encoding='utf-8', index=False)
eval2.to_csv('js_ploteval.csv', encoding='utf-8', index=False)

# Analysis

In [37]:
# STATE
fp = open("plots/state_probability.json", "w")
json.dump(cat_s, fp)
fp.close()

# MANUFACTURER
fp = open("plots/manf_probability.json", "w")
json.dump(cat_m, fp)
fp.close()

# OS
fp = open("plots/os_probability.json", "w")
json.dump(cat_os, fp)
fp.close()

# LANGUAGE PREF
fp = open("plots/lang_probability.json", "w")
json.dump(cat_l, fp)
fp.close()

# for key in cat_s.keys():
#     print(f"state: {key:<10}     E: {cat_s[key]}")